/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  font-family:Arial,"STHeiti", Helvetica, sans-serif;
  background:#fff;
  font-size:14px;
  height:100%;
  max-width:750px;
  min-width:20pc;
  line-height:1.5;
  -webkit-tap-highlight-color: transparent;
}
table{
  border-collapse:collapse;
  border-spacing:0
}
fieldset, img{
  border:0
}
legend{
  display:none
}
address, caption, cite, code, dfn, em, strong, th, var{
  font-style:normal;
  font-weight:normal
}
ol, ul{
  list-style:none
}
caption, th{
  text-align:left
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal
}
q:before, q:after{
  content:''
}
abbr, acronym{
  border:0
}
html{-webkit-text-size-adjust:none;width:100%;height:100% } /*????iphone??safari????????????*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"]{
  -webkit-appearance:none;
  border-radius:0;
}

html, body { position: relative;color:#333;}


/**“Ù¿÷≤•∑≈**/
.btn-music{width: 66/75rem; height: 66/75rem;background:rgba(0,0,0,0.3);border-radius:50%;position: fixed; top:36/75rem; right: 36/75rem;}
//.open-music{animation: music-btn 3s linear infinite; -webkit-animation: music-btn 3s linear infinite;}
.music{width:100%; height: 100%;}
@-webkit-keyframes music-btn{
  form{
    -webkit-transform: rotateZ(0deg);
    transform:rotateZ(0deg);
  }
  to{
    -webkit-transform: rotateZ(360deg);
    transform:rotateZ(360deg);
  }
}
@keyframes music-btn{
  form{
    -webkit-transform: rotateZ(0deg);
    transform:rotateZ(0deg);
  }
  to{
    -webkit-transform: rotateZ(360deg);
    transform:rotateZ(360deg);
  }
}
//∫·∆¡
.page-landscape{
  display:block;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: #fff;
  h3{
    text-align: center;
    margin: 0 auto;
    font-size: 28/75rem;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
}

// ˙∆¡
.page-portrait{
  display:block;
  position: relative;
  width:100%;
  overflow-x:hidden ;
  -webkit-overflow-x:hidden ;
  overflow-y:scroll;
  -webkit-overflow-y:scroll ;
  //height:100%;
  //loading
  .load-page{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 999;
    background-color:#fff;
    .img-load-now{
      width:183/75rem;
      height:300/75rem;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      text-align: center;
      .loading{
        //background-image:url(../img/aiyinsitan.gif);
        background-size: 183/75rem 189/75rem;
        width:183/75rem;
        height:189/75rem;
      }
      .mask{
        width: 100%;
        height:50/75rem;
        text-align: center;

      }
      span{
        font-size: 22/75rem;
        color: #000;
      }
      .readyGo{
        display: none;
        text-align: center;
        width:183/75rem;
        height:77/75rem;
        text-align: center;
        img{
          width:159/75rem;
          height:77/75rem;
          -webkit-animation:goTada 2s ease infinite ;
          animation:goTada 2s ease infinite ;
        }
      }
    }
  }
  .page-container{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    .poster-main{
      width:100%;
      height:664/75rem;
      //overflow: hidden;
      position: absolute;
      left:0;
      top:300/75rem;
      ul{
        width:1500/75rem;
        height:664/75rem;
        font-size: 0;
        animation:carousel 2s linear infinite;
        position: relative;
        li{
          box-sizing: border-box;
          width:280/75rem;
          height:664/75rem;
          position: absolute;
          left:0;
          top:0;

        }
        li.active{
          transition: all ease-in 0.2s 0.2s;
          transform:scale(1.5);
          top:-20/75rem;
        }
        li.img-active{
          animation: img-slideOutUp 0.6s 1s ease-in forwards;
        }
      }
    }
    .text{
      width:233/75rem;
      height:117/75rem;
      position: absolute;
      bottom:0;
      left:21.5/75rem;
    }
    .people{
      width:280/75rem;
      height:400/75rem;
      position: absolute;
      top:170/75rem;
      left:0;
    }
    .name{
      width:89/75rem;
      height:167/75rem;
      position: absolute;
      top:0;
      left:95.5/75rem;
    }
    .zhua{
      width:135/75rem;
      height:566/75rem;
      position: absolute;
      left:307.5/75rem;
      top:-180/75rem;
    }
    .zhuadown{
      animation: zhuadown 1s ease-in forwards;
    }
    .zhuaup{
      animation: zhua-slideOutUp 0.6s 0s ease-in forwards;
    }
    @keyframes zhuadown {
      0%{
        top:-200/75rem;
      }
      50%{
        top:0/75rem;
      }
      100%{
        top:0/75rem;
      }
    }
    @keyframes zhua-slideOutUp {
      0%{
        top:0;
      }
      100%{
        top:-600/75rem;
      }
    }
    @keyframes img-slideOutUp {
      0%{
        top:0;
      }
      100%{
        top:-600/75rem;
      }
    }
    .answer-box{
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:-100%;
      //display: none;
      img{
        width:100%;
        height:100%;
        position: absolute;
        left:0;
        top:0;
      }
      p{
        position: absolute;
        left:0;
        top:0;
        font-size: 32/75rem;
      }
      button{
        position: absolute;
        left:200/75rem;
        bottom:100/75rem;
      }
    }
    .answer-box-show{
      animation: slideInDown 0.5s 1.8s ease-out forwards;
    }
    .again-box{
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      background:rgba(0,0,0,0.7);
      text-align: center;
      padding-top:200/75rem;
      display: none;
    }

  }
  @keyframes goTada {//loadingø™ º–°Õº±Í
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    10%, 20% {
      -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -2deg);
      transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -2deg);
    }

    30%, 50%, 70%, 90% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
    }

    40%, 60%, 80% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
    }

    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes slideInDown {
    0%{
      top:-100%;
    }
    100%{
      top:0
    }
  }
  .background-down{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
  }
  .background{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
  }
  .background-up{
    width:100%;
    height:123/75rem;
    position: absolute;
    left:0;
    top:0;
  }
  .button{
    width:537/75rem;
    height:144/75rem;
    position: absolute;
    left:106.5/75rem;
    bottom:59/75rem;
  }
  .deng01{
    width:289/75rem;
    height:441/75rem;
    position: absolute;
    left:62/75rem;
    top:46/75rem;
  }
  .deng02{
    width:287/75rem;
    height:437/75rem;
    position: absolute;
    right:67/75rem;
    top:50/75rem;
  }
  .dai{
    width:750/75rem;
    height:98/75rem;
    position: absolute;
    left:0;
    top:960/75rem;
  }
}






